*{
    font-family: 'Ubuntu', sans-serif;
}
.section1{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: top;
    margin-left: 10px;
}
.bannerFirstHeading{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    padding: 200px 0px 0px 110px ;
}
.bannerSecondHeading{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    width: 500px;
    padding:0px 0px 150px 460px ;
}
/* header part ends here and body part starts from here */

.sec2FirstHeader{
    text-align: center;
    color: #f42712;
    font-size: 60px;
   
}
.sec2FirstPara{
    text-align: center;
    color: #f42712;
    font-size: 25px;
    margin-bottom: 0px;
}
.sec2SecondPara{
    margin-top: 5px;
    color: black;
    font-size: 35px;
    text-align: center;
}
#firstImg{
    width: 550px;
    margin-left: 400px;
}
/* section 2 ends here and section 3 starts from here */
.section3{
    margin-top: 45px;
    background-image:url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 0px;

}
.sec3FirstPara{
    width: 600px;
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    padding: 100px 200px 0px 150px ;
    margin-bottom: 0;

}
.sec3SecondPara{
    color: white;
    width: 400px;
    font-size: 25px;
    text-align: center;
    padding: 0px 200px 0px 220px;
}
.sec3FirstBtn{
    font-size: 20px;
    color: white;
    background-color:darkgray;
    border: 0px;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 0 0 100px 350px;

}
/* section 3 ends here and section 4 starts from here */
.section4{
    margin: 50px auto;
   
}

.sec4FirstPara, .sec4SecondPara, .sec4ThirdPara{
    
    font-size: 25px;
    color: black;
    text-align: center;
    

}

.redZone{
    color: red;

}
.sec4FirstBtn{
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 15px 25px;
    border: 0px;
    border-radius: 10px;
    margin: 0 0 100px 590px;
    box-shadow: 10px 15px 8px 5px #353535;
}

/* Section 4 ends here and section 5 starts from here */

.section5{
    display: flex;
    margin-bottom: 90px;
}
.sec4Div1{
    padding: 0 0 0 110px;
}
.sec4Div2{
    padding: 0 0 0 90px;
}
.sec4Div3{
    padding: 0 0 0 120px;
}


.circle{
    
    border-radius:500px;
    border: 15px solid red;
    padding: 13px;
}

.Div1para{
    color: red;
    font-size: 19px;
    margin-bottom: 5px;
    
}
.Div1head{
    color: black;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 8px;

}
.Div1para2{
    margin-top: 0px;
    width: 260px;
    font-size: 19px;
    color: #757575;
    text-align: left;
}

.Div3para1{
    color: red;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0px;
}

.Div3para2{
    color: #757575;
    width: 200px;
}
/* Section 54 ends here and section 6 starts from here */

.sec6FirstHeading{
    text-align: center;
    font-size: 15px;

}
.sec6SecondHeading{
    font-size: 35px;
    text-align: center;
}
.redPart{
    color: red;
}
.sec6Description{
    text-align: center;
    width: 450px;
    padding: 0 0 0 455px;
}
.pair1{
    position: relative ;
}
.p1{
     position: relative ; 
     margin-top: 400px;
}
.p2{
     position: absolute ;
   
    width: 650px;
    height: 600px ;
    margin-top: 0px;
    right: 650px;

    
}
.pair2{
    position:absolute;
    
}
.p3{
    position: relative;
    left: 900px;
    /* height: 400px;
  left: 927px; */
    
}
.p4{
    position: absolute;
    left: 720px;
    margin-top: 30px;

}
/* section 6 ends here and section 7 starts from here */
.section7{
    margin-top: 50px;
    padding: 10px 25px;
}
.sec7FirstPara{
    color: #757575;
    font-size: 16px;
    width: 700px;
}

/* section 7ends here and section 8 starts from here */
.section8{
    margin-top: 90px;
    background-color: bisque;
    padding: 50px;
    margin-bottom: 90px;
}
.EmailIcon{
    margin-left:550px;
}
.sec8Head1{
    text-align: center;
    font-size: 34px;
}
.sec9FirstPara{
    color: #757575;
    width: 500px;
    margin-left: 365px;
    
}
.emailField{
    margin-left: 390px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    border: 20px solid #ffffff;
    border-radius: 40px 0px 0px 40px;

}
.subsBtn{
    padding: 10px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: 20px solid red;
    border-radius: 0px 40px 40px 0px;
}
/* section 8 done and footer starts from here */
