*{
    font-family: 'Ubuntu', sans-serif;
}
.section1{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: top;
    margin-left: 10px;
}
.bannerFirstHeading{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    padding: 200px 0px 0px 110px ;
}
.bannerSecondHeading{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    width: 500px;
    padding:0px 0px 150px 460px ;
}
/* header part ends here and body part starts from here */

.sec2FirstHeader{
    text-align: center;
    color: #f42712;
    font-size: 60px;
   
}
.sec2FirstPara{
    text-align: center;
    color: #f42712;
    font-size: 25px;
    margin-bottom: 0px;
}
.sec2SecondPara{
    margin-top: 5px;
    color: black;
    font-size: 35px;
    text-align: center;
}
#firstImg{
    width: 550px;
    margin-left: 400px;
}
/* section 2 ends here and section 3 starts from here */